<div class="page-header">
  <h1>Genres</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Movies</th>
    </tr>
  </thead>
  <tbody>
      {{#each model as |genre|}}
        {{genres/genres-list/genre genre=genre removeGenre=(action "removeGenre")}}
      {{/each}}
  </tbody>
</table>
