<div class="page-header">
  <h1>Genres</h1>
</div>

{{#bs-button active=notCollapsed onClick=(action "toggle")}}
  {{#if collapsed}}
    Add new genre
  {{else}}
    Cancel
  {{/if}}
{{/bs-button}}

<hr>

{{#bs-collapse collapsed=collapsed}}
  {{genres/genres-list/new toggleAdding=(action 'toggleAdding')}}
{{/bs-collapse}}

{{#each model as |genre|}}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Movies</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {{genres/genres-list/genre genre=genre removeGenre=(action "removeGenre")}}
  </tbody>
</table>
{{else}}
No genres found
{{/each}}
