<div class="page-header">
  <h1>Movies</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Revenue</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
      {{#each movies as |movie|}}
        {{movies/movies-list/movie movie=movie}}
      {{/each}}
  </tbody>
</table>
