<div class="page-header">
  <h1>Movies</h1>
</div>

{{#bs-button active=notCollapsed onClick=(action "toggle")}}
  {{#if collapsed}}
    Add new movie
  {{else}}
    Cancel
  {{/if}}
{{/bs-button}}

<hr>

{{#bs-collapse collapsed=collapsed}}
  {{movies/movies-list/new toggle=(action 'toggle')}}
{{/bs-collapse}}

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Revenue</th>
      <th>Genre</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
      {{#each model as |movie|}}
        {{movies/movies-list/movie movie=movie removeMovie=(action "removeMovie")}}
      {{else}}
        No movies found
      {{/each}}
  </tbody>
</table>
