<div class="page-header">
  <h1>Genres</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Movies</th>
    </tr>
  </thead>
  <tbody>
      {{#each genres as |genre|}}
        {{genres/list-item/item genre=genre}}
      {{/each}}
  </tbody>
</table>
