<th scope="row">{{actor.id}}</th>
<td>{{actor.firstName}}</td>
<td>{{actor.lastName}}</td>
<td>{{actors/actors-list/actor/movies movies=moviesArray}}</td>
<td>
  {{#bs-button type="danger" onClick=(action "remove")}}Delete{{/bs-button}}
</td>
